html, body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.main-div {
    background-color: black;
    height: 100%;
    min-height: 100%;
    margin: 0px;
    padding-left: 0px;
}

.text-div {
    vertical-align: center;
    height: 100%;
}

.name {
    color: white;
    font-family: 'Pacifico', cursive;
    font-size: 24pt;
}

.job {
    color: #999999;
    font-family: 'Source Code Pro', monospace;
    font-size: 18pt;
}

.img-div {
    background: url('img/me.jpg') no-repeat left center;
    background-size:100% cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    max-width: 50%;
}

.terminal {
    color: white;
    font-family: 'Source Code Pro', monospace;
    font-size: 12pt;
    padding-top: 20px;
    padding-left: 0px;
    overflow-y: scroll;
    max-height: 100vh;
}

.greeting {
    font-size: 16pt;
}

.terminal-command {
    visibility: visible;
    font-size: 10pt;
    color: #999999;
    display: inline;
}

.terminal-output {

}

.links-table {
    width: 100%;
}

.toolbar {
    background: url('img/toolbar.png') no-repeat left center;
    height:20px;
    padding: 0px;
}

.job-details {
    font-size: 9pt;
}